.question-card.well
  .question-text= question.question
  .btn-group{:"data-toggle"=>"buttons-radio"}
    %a.btn{:href=>"#"} I agree
    %a.btn{:href=>"#"} I disagree
    %a.btn{:href=>"#"} I don't care
  %a{:href=>"#"} Skip this question
  .question-bottom
    .org question.org
    .policy question.policy
