.singly
  //.row-fluid
  //-%w[twitter facebook].each do |service|
  //%a.btn.span6{:href=>"/voters/new"} Connect with #{service.capitalize}
  //%h4 or
= link_to "Sign up now!", signup_path, {:class=>"btn btn-submit ashley-btn"} 