%h3 Get Started Now!
.singly
  //.row-fluid
  //-%w[twitter facebook].each do |service|
  //%a.btn.span6{:href=>"/voters/new"} Connect with #{service.capitalize}
  //%h4 or
%input{:type=>"text", :class=>"login-field span12", :placeholder=>"Email address", :id=>"login-email"}
%a{:href=>"#", :class=>"btn btn-submit ashley-btn"} Submit