%h1 Policy Compass

#flash
- unless @voter || @org || @candidate
  .singly
  %h2 Get Started with Policy Compass
  .row-fluid
    -%w[twitter facebook].each do |service|
      %a.btn.span6{:href=>"/auth/singly?service=#{service}"} Connect with #{service.capitalize}
      

