.hero-unit
  .row-fluid
    .span12
      = image_tag "compass.png"
      %h1 policy compass
      %h2 helping you navigate local NY politicians and their policy positions
      %hr
      - unless signed_in?
        =render partial: 'form'
%h2 What is Policy Compass?
.row-fluid
  .span6
    %h3 A Framework for Soliciting and Calculating Sentiment
  .span6
    %h3 A Platform for Exploring and Evangelizing Policy
%h2 Who is Policy Compass For?
.row-fluid
  .span4
    %h3 Organizations
  .span4
    %h3 Voters
  .span4
    %h3 Politicians
%h2 For Voters and Politicians
.row-fluid
  .span4
    %h3 Discover
  .span4
    %h3 Analyze
  .span4
    %h3 Act
%h2 For Organizations
.row-fluid
  .span4
    %h3 Solicit
  .span4
    %h3 Monitor
  .span4
    %h3 Evangelize