/ The initial questions part of onboarding

.container-fluid
  =render :partial => 'layouts/onboarding_nav'
  %h1 Answer these questions to get started
  .onboard-questions-group.row-fluid
    - 2.times do
      .span6
        =render :partial => 'questions/question', :collection => Question.limit(5)
