<div id="wrap">
  <div class="container-fluid">
    <div class="hero-unit">
      <div class="row-fluid">
        <div class="span8">
            <h1><%= image_tag "compass.png" %>policy compass</h1>
            <h2>helping you navigate local NY candidates and their policy positions</h2>
        </div>
        <div class="span4 login-form">
          <h3>Keep me in the loop!</h3>
          <input type="text" class="login-field span12" placeholder="Email address" id="login-email">
          <a href="#" class="btn btn-submit ashley-btn">Submit</a>
        </div>
      </div>
    </div>
    <section class="row-fluid">
      <div class="span4">
        <%= image_tag "policy.png" %>
        <h3>Discover candidates' policy positions.</h3>
      </div>
      <div class="span4">
        <%= image_tag "candidates.png" %>
        <h3>Compare and contrast your position with candidates.</h3>
      </div>
      <div class="span4">
        <%= image_tag "vote.png" %>
        <h3>Make informed voting decisions.</h3>
      </div>
    </section>
  </div>
  <div id="push"></div>
</div>
<footer>
  <div class="container-fluid">
    <p>made by these awesome people</p>
    <p>march 2013</p>
  </div>
</footer>
