<div class="container-fluid">
  <section class="row-fluid">
    <div class="span4">
      <img src="http://placehold.it/200x200" class="img-circle">
      <h2>Discover candidates' policy positions.</h2>
    </div>
    <div class="span4">
      <img src="http://placehold.it/200x200" class="img-circle">
      <h2>Compare and Contrast your position with candidates.</h2>
    </div>
    <div class="span4">
      <img src="http://placehold.it/200x200" class="img-circle">
      <h2>Make informed voting decisions.</h2>
    </div>
  </section>
</div>
