.navbar.progress-nav {
  .navbar-inner {
    padding-left: 0;
    padding-right: 0;

    .nav li {
      overflow: visible;

      a {
        padding-left: 40px;
      }

      &:first-child {
        a {
          padding-left: 20px;
        }
      }

      &:not(:last-child) {
        a {
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          position: relative;

          &:before, &:after {
            content: '';
            height: 0;
            width: 0;
            position: absolute;
            display: block;
            border-color: transparent transparent transparent #e6e6e6;
            border-width: 20px;
            border-style: solid;
            right: -39px;
            top: 0;
            z-index: 20;
          }

          &:before {
            right: -40px;
            border-color: transparent transparent transparent red;
          }
        }
      }
    }
  }
}
