@import "bootstrap";
@import "nav";
@import "question_card";

/* custom colors // HT FLAT-UI */
$light-blue: #3498DB;
$dark-blue: #2980B9;
$light-orange: #E67E22;
$dark-orange: #D35400;
$light-yellow: #F1C40F;
$dark-yellow: #F39C12;
$light-white: #ECF0F1;
$dark-white: #BDC3C7;
$light-grey: #95A5A6;
$dark-grey: #7F8C8D;

body {
  font-family: 'Lato', Helvetica, sans-serif;
}

/* spacing */
$large-space: 20px;
$medium-space: 10px;
$small-space: 5px;

/* button styles */
.hero-unit {
  margin-top: 20px;
  background-color: $dark-blue;
  border-radius: $medium-space;
  text-align: center;
  h1 {
    color: $light-white;
  }
  h2 {
    color: $light-yellow;
  }
}

body {
  padding-top: 40px; /*to accoutn for fixed nav*/
}

.ashley-btn {
  border: none;
  background: $dark-yellow;
  color: white;
  font-size: 16.5px;
  text-decoration: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
  padding: $medium-space;
  display: block;
  &:hover{
    background: $light-yellow;
    color: $light-orange;
  }
}

.question-opts {
  .btn.active {
    @extend .btn-success;
  }
}

section {
  vertical-align: middle;
  h2 {
    color: $dark-blue;
  }
  div {
    padding: 0 $large-space;
    text-align: center;
  }
  div:nth-child(2){
    border-right: $small-space dotted $dark-white;
    border-left: $small-space dotted $dark-white;
  }
}

footer {
  background-color: $dark-grey;
  color: $light-white;
  padding: $medium-space;
}

/* flat ui login form */
.login-form {
  background-color: $light-orange;
  border-radius: $medium-space;
  padding: $large-space;
  color: $light-white;
  text-align: center;
  h3 {
    padding: 0;
    margin: 0;
  }
  .btn {
    margin-bottom: $medium-space;
  }
}
.login-form .login-field {
  border-color: transparent;
  padding: $large-space $medium-space;
  background-color: $light-white;
  color: $light-grey;
  display: block;
}

#error_explanation {
  color: #f00;
  text-align: left;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* sticky footer */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
footer {
  height: 60px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* clear fix */
.group:before,
.group:after  {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* IE6&6 */
}
