.navbar
  .navbar-inner
    %a.brand{:href => "#"} Policy Compass
    %ul.nav
      %li
        %a{:href => "#"} Home
      %li{:class => :active=="dashboard" ? 'active' : ''}
        %a{:href => "#"} Dashboard
      %li
        %a{:href => "#"} Log Out
