.onboard-nav-container
  .navbar.progress-nav
    .navbar-inner
      %ul.nav
        %li.active
          %a Sign up
        %li.active
          %a Answer questions
        %li
          %a Get Matches
