.question-card.well
  .question-text Courage of our questions something incredible is waiting to be known Sea of Tranquility dispassionate extraterrestrial observer.
  .btn-group{:"data-toggle"=>"buttons-radio"}
    %a.btn{:href=>"#"} I agree
    %a.btn{:href=>"#"} I disagree
    %a.btn{:href=>"#"} I don't care
  %a{:href=>"#"} Skip this question
  .question-bottom
    .category Category
    .org Org
    .policy Policy
