!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content=>"width=device-width, initial-scale=1.0" }
    %title policycompass
    =stylesheet_link_tag "application", :media => "all"
    %link{:href => 'http://fonts.googleapis.com/css?family=Lato:300,400,700,900', :rel => 'stylesheet', :type => 'text/css'}
    =csrf_meta_tags
    / HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file.
    /[if lt IE 9]
      %script{:src=>'http://html5shim.googlecode.com/svn/trunk/html5.js'}
  %body
    =render :partial => 'layouts/main_nav'
    .row-fluid.titlebar
      .span10
        %h1 policy compass
        %h2 navigate the local and national policy landscape
        - unless signed_in?
          =render partial: 'form'
      .span2.logo
        = image_tag "compass.png"
      %a{:href=>"https://github.com/OpenNY/policycompass"}
        %img#github{:src=>"https://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png", :alt=>"Fork me on GitHub"}
    .container-fluid
      - flash.each do |key, value|
        .flash(class=key)= value
      =yield
      = debug(params) if Rails.env.development?
    %footer
      %p A project by OpenNY Forum, a proud member of the Code for America Brigade community.
      %p March 2013
  =javascript_include_tag "application"
  :javascript
    $(document).ready(function() {
      $('.carousel').carousel({
        interval: 2500
      })
    });
